input[type="text"],
input[type="number"] {
  padding: 10px;
  margin: 10px auto;
  display: block;
  width: 80%;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  text-align: center;
}

#generateBtn {
  background: #00bcd4;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 10px;
}

#generateBtn:hover {
  background: #0097a7;
}
